$purpleBlue: rgba(91, 80, 211, 0.4);
$deepPurpleBlue: #434B8C;
$dimBlue: #28476B;
$lightGray: #E5E5E5;
$gray: #C0D0E1;
$deepGray: #34475C;
$orange: #F78D2C;
$orangeOpacity: rgba(247, 141, 44, 0.3);
$lightGrayOpacity: rgba(40, 71, 107, 0.03);
$lightPurpleBlueOpacity: rgba(91, 80, 211, 0.1);
$deepPurple: #5B50D3;
$white: #FFFFFF;

$tableBorder: 1px solid #C0D0E1;